.container {
    margin-top: 2rem;
  }
  
  h1 {
    margin-bottom: 1rem;
  }
  
  .instruktions-p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .start-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .btn-success {
    background: #af1685;
    border-color: #af1685;
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  
  .btn-success:hover {
    background: #582c83;
    border-color: #582c83;
  }

  .btn-success:active {
    background: #582c83;
    border-color: #582c83;
  }
  
  h3 {
    margin-top: 1rem;
  }
  
  .lead {
    font-size: 1.4rem;
  }
  
  .btn-warning {
    background: #d86018;
    border-color: #d86018;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
  }
  
  .btn-warning:hover {
    background: #c8102e;
    border-color: #c8102e;
    color: white;
  
  }
  
  .result-container {
    display: none;
  }
  
  .fitting-jobs-p {
    font-size: 1.3rem;
    margin-bottom: 3rem;
  }

  #arcs {
    display: flex;
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
  }

  #arcs div {
    border: 1rem solid #582c83;
    display: inline-block;
    min-width: 4em;
    min-height: 4em;
    padding: 2em;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation-duration: 2s;
    animation-name: spin;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(90deg);
  }
}

.result-container {
  display: none;
}