{% extends "base.html" %}
{% block content %}
<h1>{% print gettext('Välkommen till Västra Götalandsregionens yrkestest för unga') %}</h1>
<p class="lead mt-5">{% print gettext('Svara på tio frågor så får du tips på yrken som kan passa dig!') %}</p>
<p class="instruktions-p"><strong>{% print gettext('Instruktion:') %}</strong> {% print gettext('Tryck på det svar som passar in på dig bäst. Nästa fråga visas automatiskt därefter.') %} </p>
<form action="/" method="POST" class="start-form mb-5">
    <button type="submit" class="btn btn-success btn-lg">{% print gettext('Starta testet') %}</button>
</form>
<p><strong>{% print gettext('Cookies:') %}</strong> {% print gettext('Appen sparar en temporär cookie som behövs för att testet skall fungera. Vi samlar <em>inte</em> in någon personligt identifierbar information.') %}</p>
{% endblock %}
