{% extends "base.html" %}
{% block content %}
<h1>Här är ditt resultat</h1>
<p class="fitting-jobs-p">{{ content['description'] }}</p>
{% if content['primary'][0] %}
    <h4 class="h3">Yrken som kan passa dig är:</h4>
    <p class="fitting-jobs-p">{% for job in content['primary'] %}
    {{ job }}{{ ', ' if not loop.last }}
    {% endfor %}</p>
{% endif %}
{% if content['secondary'][0] %}
    <h4 class="h2">Yrken som kanske passa dig är:</h4>
    <p class="fitting-jobs-p">{% for job in content['secondary'] %}
    {{ job }}{{ ', ' if not loop.last }}
    {% endfor %}</p>
{% endif %}
{% endblock content %}
