{% extends "base.html" %}
{% block content %}
<h1>Välkommen till VGR Yrkestest</h1>
<p class="lead">Du kommer nu att få svara på ett antal frågor, och från dina svar kommer vi att räkna ut vilka yrken som kan passa dig bäst.</p>
<p class="instruktions-p"><strong>Instruktioner:</strong> Tryck på det svar som passar in på dig bäst. Nästa fråga visas automatiskt därefter.</p>
<form action="/" method="POST">
    <button type="submit" class="btn btn-success btn-lg">Starta testet</button>
</form>
<br/>
<p><strong>Cookies:</strong> Appen sparar en temporär cookie som behövs för att testet skall fungera. Vi samlar <em>inte</em> in någon personligt identifierbar information.</p>
{% endblock %}
